@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<div>
    <a href="https://www.google.com" id="1234el" target="_blank">Visit W3Schools</a>
</div>*@
<div>
    <input type="submit" id="1234el" name="enter" value="Вход"/>
</div>